body {
	margin: 0;
	padding: 0;
	background-color: #EBF2FC;
}
h3 {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	font-size: 16px;
	color: #7B3EE3;
	font-weight: bold;
}
a:hover{color:#FF9326;}
.menu , .menu ul ,  .menu ul li{
	margin: 0;
	padding: 0;
}
.content .cont {
	margin: 0 auto;
	margin-top: 10px;
	background-color: #9FC3F0;
	width: 700px;
	height: 150px;
	padding-left: 10px;
	padding-top: 10px;
}