body {
	margin: 0;
	padding: 0;
	background-color: #5EA0F0;
}
.menu , .menu ul ,  .menu ul li{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #F8F8B3;
}
.menu ul { 
	text-align: center;
	list-style: none;
}
.menu ul li{
	text-align: auto;
	display: inline;
	padding: 18px;
	vertical-align:middle;
}